.cart{
    background-color: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
}
.cart p{
    font-size: 16px;
}
.btn-clear{
    display: flex;
    margin: 10px auto;
    background: #FF3030;
    color: white;
    justify-content: space-between;
    width: 95%;
}